.App {
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;

  .main-cont {
    margin-top: 60px;
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
  }

  .text-centered {
    text-align: center;
  }

  .MuiCardMedia-img {
    object-fit: contain;
  }
  .stats {
    display: block;

    ul {
      padding: 0;

      li {
        list-style: none;
        display: flex;
        margin-bottom: 1em;
        justify-content: space-between;
        align-items: baseline;

        h6 {
          font-size: 14px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

