.App {
  color: #fff;
  width: calc(100% - 32px);

  .main-cont {
    margin-top: 60px;
  }

  .topbot {
    background: rgba(40, 44, 52, .57);
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
  }

  .text-centered {
    text-align: center;
  }

  .font-white .MuiInputBase-root.MuiInput-root,
  .font-white .custom-input,
  .font-white .MuiFormLabel-root.MuiInputLabel-root,
  .font-white .MuiTypography-root.MuiLink-root,
  h4 {
    color: #d3d3d3;
  }

  .font-white .MuiInputBase-root .MuiInput-root:after {
    border-bottom: 2px solid #d3d3d3;
  }

  .main-menu, .MuiPaper-root.MuiCard-root {
    background: rgba(40, 44, 52, .57);
    border-radius: 6px;
    color: #d3d3d3;
  }

  .MuiPaper-root.MuiTableContainer-root {
    background: none;
    box-shadow: none;
  }

  .save .MuiPaper-root {
    background: rgba(40, 44, 52, .57);

    .MuiCard-root, > .MuiPaper-root {
      background: none;
      box-shadow: none;
    }
    .MuiAlert-standardError {
      background: rgb(253, 237, 237);
    }
  }

  .main-menu {
    button {
      font-size: 32px;
    }
  }

  .MuiCardMedia-img {
    object-fit: contain;
  }
  .stats {
    display: block;

    ul {
      padding: 0;

      li {
        list-style: none;
        display: flex;
        margin-bottom: 1em;
        justify-content: space-between;
        align-items: baseline;

        h6 {
          font-size: 14px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
  .css-1dhyhd5-MuiFormLabel-root-MuiInputLabel-root,
  .MuiFormLabel-root.MuiInputLabel-root {
    color: #d3d3d3;
  }

  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #d3d3d3;
  }

  #character-inventory {
    .inventory-cont {
      margin-left: -16px;
      padding: 10px;
      margin-top: 1em;

      .inventory-box {
        border: 1px solid #2c2c2c;
        min-height: 66px;
        padding: 0;
      }
    }
  }

  .topbot {
    padding: 15px 0;
  }

  .padlr {
    padding: 15px;
  }

  .padlrextra {
    padding: 15px 45px;
  }

  .menu-table  {
    margin-bottom: 40px;

    th {
      font-weight: bold;
    }

    th, td {
      color: #d3d3d3;
      font-size: 16px;
    }
  }
}

